* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    border-radius: 6px;
    border: none;
    height: 30px;
    width: fit-content;
    transition: 250ms;
}
button:hover {
    border-radius: 4.5px;
    background-color: #dddddd;
    width: fit-content;
}
button:active {
    border-radius: 3px;
    background-color: #bbbbbb;
    width: fit-content;
}